header {
  background-color: rgb(18, 54, 71) !important;
  /* background: url('../images/iStock-494730916.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}